.game-tiles {
    float: left;
    width: 10%;
    margin-right: 20px;
    height: 100%;
    border: 5px solid red;
}
.game-tiles:hover{
    cursor: pointer;
}

.row {
    /*width: 73%;*/
    height: 15%;
    padding-left: 33%;
    margin-bottom: 30px;
}

#root {
    height: 100vh;
    width: 100vw;
}

.attempts-display{
    text-align: center;
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.black{
    background-color: black;
}
.grey{
    background-color: grey;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.pink{
    background-color: pink;
}
.orange{
    background-color: orange;
}

.start-screen {
    /*width: 100%;*/
    /*height: 100%;*/
    text-align: center;
    padding-top: 20%;
}
.start-button{
    width: 10%;
    height: 5%;
    border: 2px solid black;
    border-radius: 5px;

}
.start-button:hover{
    cursor: pointer;
}
.title{
    font-size: 3em;
    text-align: center;
}
.rules{
    text-align: center;
}
.game-won{
    width: 50%;
    margin-left: 25%;
}
